*{
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
}
body{
    margin: 0;
    background-color: rgb(153,204,51);/*  HEX #9ABF4B*/
    font-size: 1rem;
     
    }
.container{
    background-color:rgb(225,225,225); /* HEX :#ffffff */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}
header h1{
    padding-top: 50px;
    padding-left: 50px;
    color: rgb(102,153,0);/* HEX #4E8211*/
    font-family: 'Oswald', sans-serif;
}
body{
  font-family:"Open Sans";
}
.main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}
.buttons{
    text-align: center;
}

.content img{
    width:35%;
    float: left;
    padding-right: 15px;
}
.content p{
    padding: 15px;
}

footer{
    background-color: rgb(0,0,0); /*HEX: #000000*/
    width: 100%;
    height: 15vh;
    color:rgb(225,225,225); /* HEX :#ffffff */
    text-align: center;

}
footer img{
    padding-left: 25px;
    text-align: center;
    padding-top: 30px;
}

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border: 0;
    background-color: rgb(102,102,102); /* HEX: #666;*/
    color: white;
}

button:hover {
    background-color: rgb(204,204,204);/* hex: #DDD;*/
    color: rgb(102,102,102);/* hex: #666;*/

}
.active {
    background-color:rgb(102,153,0); /* hex:#4E8211;*/
    color:rgb(225,225,225); /* HEX :#ffffff */
}
h2{
    color: rgb(255,69,0);/*  hex:#FF4500*/
}


.menu-link{
  padding:20px;
  height:100%;
  text-decoration:none;
  font-size:18px;
  color:black;
  text-transform:uppercase;
  display:none;
  @media screen and (max-width:768px) {
  display:block;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  }
}



nav ul li{
    border: 1px solid grey;
    padding: 5px 15px;
}

  ul{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
}
    
    li{
     list-style:none;
      padding:13px 5px;
}
      
      a{
        text-decoration:none;
        color:#034001;
        font-size:16px;
        text-transform:uppercase;
          float: left;
      }

span{
    pointer-events: none;
}



@media only screen and (max-width : 30rem) {
    
    body{
        font-size: 0.75rem;
    }
    .content img{
        width: 100%;
    }
    nav a{
    width: 150px;
}
    nav ul li{
        margin-top: 20px;
    }
   